img {
    border-radius: 50%;
    border: 1px solid white;
    width: 150px;
    height: auto;
    margin: auto;
}

.banner-text {
    letter-spacing: 5px;
    position: relative;
}

.banner-text::before {
    border-bottom: 1px solid gray;
    position: absolute;
    content: "";
    width: 80%;
    bottom: 0;
    left: 10%;
}

.w2 {
    width: 20%;
}

.position-text {
    border-bottom: 1px solid gray;
}

.underline {
    position: relative;
}

.underline::before {
    content: "";
    border-bottom: 2px solid gray;
    position: absolute;
    bottom: 0;
    width: 50%;
}